<% content_for :head do %>
  <% set_meta_tags title: "About", description: "About Hegwin and His Dream", noindex: true %>
  <%= stylesheet_link_tag 'archived_about_2013' %>
<% end %>

<div id="about">
  <h2>About Hegwin and His Dream</h2>

  <div class="entry">
    <%= image_tag 'about/universe.jpg', class: "img-polaroid" %>
    <div class="entry-text">
      <h3>The Astronomer's Dream</h3>
      <p>When I was young, I never imagined that I would one day sit in front of a computer and write codes.</p>
      <p>Like most kids in China, we all dreamed of becoming scientists, and for me, the dream was to become an astronomer. I always hoped that one day I would be able to name a star with my name.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="entry">
    <%= image_tag 'about/interpreter.jpg', class: "img-polaroid" %>
    <div class="entry-text">
      <h3>Translator or Chemist or Writer?</h3>
      <p>When you grow up, however, it's easy to forget your original dreams.</p>
      <p>During my years in junior middle school, I loved English very much. And I told everyone I wanted to be a translator or interpreter.</p>
      <p>Did I really like English, or is it just a result of hypnosis - you have good performance in a subject, and your parents and teachers appreciate you and your classmates admire you so that you have more passion and then get a higher grade - leading to a positive cycle?</p>
      <p>Things changed again since I entered the high middle school. Chemistry turned to be my favourite subject. I enjoyed doing experiments in the lab.</p>
      <p>Well, I also found myself involved in the literature.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="entry">
    <%= image_tag 'about/drought.jpg', class: "img-polaroid" %>
    <div class="entry-text">
      <h3>Childhood Dream That Didn't Come True</h3>
      <p>NEMT is a cruel struggle for each high school graduate in China. But followed that, there is something else make you headache -- to make a decision for you major subject in the coming four or five years.</p>
      <p>The huge list of majors can hardly confuse me, because I knew what I wanted to select.</p>
      <p>But there were still something scared my soul. I remember I was choked just as I saw that item -- Astronomy.</p>
      <p>Wow, for how many years have I put this dream aside? I felt in dark gray not for my score prevented me to apply astronomy, but for how could I forget my dreams.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="entry">
    <%= image_tag 'about/hacker.jpg', class: "img-polaroid" %>
    <div class="entry-text">
      <h3>From Chemist To Programmer</h3>
      <p>Now, I have been a rubyist for nearly 3 years. I like writing codes. Maybe I will continue coding until someday we no more need this job.</p>
      <p>I majored applied chemistry in university. I like chemistry, yes, at least in middle school. But the regime and teaching style of university made me lose interests of chemistry.</p>
      <p>During my second year of university, I learnt VB Programming, which opened a door to the world of codes for me.</p>
      <p>I try to organize the steps how human solve the problems and to tell the computers by writing codes. I can't be more excited when I saw the right result jumping out of the screen.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="entry">
    <%= image_tag 'about/rainbow_flag.jpg', class: "img-polaroid" %>
    <div class="entry-text">
      <h3>Imcomplete Rainbow But Miscellaneous</h3>
      <p>For some reasons I will not live a common life as a normal person, like the rainbow lacking one band of color. Anyway, it's still colorful, isn't it?</p>
      <p>I am managing to live a colorful life.</p>
      <p>I keep learning. I do love translation -- no longer for high scores in school -- since it's really interesting to break the walls between the people from different backgrounds.</p>
      <p>I attempt to achieve every idea and dream. I begin to learn to play the piano. And I begin to erect this website for me.</p>
      <p>Wish for a life without regrets!</p>
    </div>
    <div class="clear"></div>
  </div>

</div>
