<% if notice.present? %>
  <div class="alert alert-primary"><%= notice %></div>
<% end %>

<p>
  <b>Title ZH:</b>
  <%= @post.title_zh %>
</p>

<p>
  <b>Title EN:</b>
  <%= @post.title_en %>
</p>

<p>
  <b>Status:</b>
  <%= @post.status %>
</p>

<p>
  <b>Tags:</b>
  <%= @post.tag_list %>
</p>

<p>
  <b>Body ZH:</b>
  <pre>
    <%= @post.body_zh %>
  </pre>
</p>

<% if @post.introduction_zh.present? %>
  <p>
    <b>Introduction ZH:</b>
    <pre>
      <%= @post.introduction_zh %>
    </pre>
  </p>
<% end %>

<p>
  <b>Body EN:</b>
  <pre>
    <%= @post.body_en %>
  </pre>
</p>

<% if @post.introduction_en.present? %>
  <p>
    <b>Introduction EN:</b>
    <pre>
      <%= @post.introduction_en %>
    </pre>
  </p>
<% end %>

<p>
  <b>Posted on:</b>
  <%= @post.posted_on %>
</p>

<%= link_to 'Preview', post_path(@post), target: "_blank" %> |
<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%= link_to 'Back', admin_posts_path %>
