<div class="alert"><%= notice %></div>

<p>
  <b>Title cn:</b>
  <%= @post.title_cn %>
</p>

<p>
  <b>Title en:</b>
  <%= @post.title_en %>
</p>

<p>
  <b>Body:</b>
  <pre>
    <%= @post.body %>
  </pre>
</p>

<p>
  <b>Posted on:</b>
  <%= @post.posted_on %>
</p>

<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%= link_to 'Back', admin_posts_path %>
