<% if notice.present? %>
  <div class="alert alert-primary"><%= notice %></div>
<% end %>

<p>
  <b>Title cn:</b>
  <%= @post.title_cn %>
</p>

<p>
  <b>Title en:</b>
  <%= @post.title_en %>
</p>

<p>
  <b>Status:</b>
  <%= @post.status %>
</p>

<p>
  <b>Tags:</b>
  <%= @post.tag_list %>
</p>

<p>
  <b>Body:</b>
  <pre>
    <%= @post.body %>
  </pre>
</p>

<% if @post.introduction_cn.present? %>
  <p>
    <b>Introduction CN:</b>
    <pre>
      <%= @post.introduction_cn %>
    </pre>
  </p>
<% end %>

<p>
  <b>Posted on:</b>
  <%= @post.posted_on %>
</p>

<%= link_to 'Preview', post_path(@post), target: "_blank" %> |
<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%= link_to 'Back', admin_posts_path %>
