<%= render 'layouts/katex' %>

<% @posts.each.with_index do |post, i| %>
  <div class="post-entry<%= " post-entry-first" if i.zero? %>">
    <h2><%= link_to post.title_cn, post %></h2>
    <h2 class="subtitle"><%= link_to post.title_en, post %></h2>
    <%= render 'post_meta', post: post %>
    <div class="post-body">
      <%= link_to post, class: "post-intro" do %>
        <%= truncate post.introduction_cn.presence || post.body, length: 200 %>
      <%end %>
    </div>
  </div>
<% end %>


<div id="pagination" class="d-flex justify-content-between">
  <div>
    <% if !@posts.first_page? %>
      <%= link_to 'Prev Page', root_path(page: @posts.prev_page) %>
    <% end %>
  </div>

  <div>
    <% if !@posts.last_page? %>
      <%= link_to 'Next Page', root_path(page: @posts.next_page) %>
    <% end %>
  </div>
</div>
