<p id="notice"><%= notice %></p>

<p>
  <b>Title cn:</b>
  <%= @post.title_cn %>
</p>

<p>
  <b>Title en:</b>
  <%= @post.title_en %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Posted on:</b>
  <%= @post.posted_on %>
</p>

<p>
  <b>Slug:</b>
  <%= @post.slug %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
