<%= content_for :head, display_meta_tags_for_post(@post) %>

<%= render 'layouts/katex' %>

<div class="post">

  <p id="notice"><%= notice %></p>

  <h1><%= @post.title_cn %></h1>

  <div class="post-body">
    <%= degrade_head(Redcarpet::Markdown.new(Redcarpet::Render::HTML, fenced_code_blocks: true).render(@post.body), 1).html_safe %>
  </div>

  <p>
    <b>Tags: </b>
    <% display_post_tags(@post.tag_list) do |tag, css_class| %>
      <%= link_to posts_path(tag: tag), class: css_class do %>
        <span class="label label-inverse"><%= tag %></span>
      <% end %>
    <% end %>
  </p>

  <p>
    <b>Posted on: </b>
    <%= @post.posted_on.strftime("%F") %>
  </p>

  <%= link_to 'Back', posts_path %>

</div>
