<%= content_for :head, meta_tags_for_post(@post) %>

<%= render 'layouts/katex' %>

<div class="post">

  <h1><%= title @post.title %></h1>
  <h1 class="subtitle"><%=  @post.sub_title %></h1>

  <%= render 'post_meta', post: @post %>

  <div class="post-body">
    <%= degrade_head(Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(with_toc_data: true), fenced_code_blocks: true, no_intra_emphasis: true).render(@post.body), 1).html_safe %>
  </div>

  <%= link_to '< Back', :back, class: 'back-link' %>
</div>
