<%= content_for :head, display_meta_tags_for_post(@post) %>

<%= render 'layouts/katex' %>

<div class="post">

  <h1><%= title @post.title_cn %></h1>
  <h1 class="subtitle"><%=  @post.title_en %></h1>

  <%= render 'post_meta', post: @post %>

  <div class="post-body">
    <%= degrade_head(Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(with_toc_data: true), fenced_code_blocks: true).render(@post.body), 1).html_safe %>
  </div>

  <%= link_to 'Back', :back %>
</div>
