<div class="post">

  <p id="notice"><%= notice %></p>

  <h1><%=title @post.title_cn %></h1>

  <div class="post-body">
    <%= degrade_head(GitHub::Markdown.render_gfm(@post.body), 1).html_safe %>
  </div>

  <p>
    <b>Tags: </b>
  </p>

  <p>
    <b>Posted on: </b>
    <%= @post.posted_on.strftime("%F") %>
  </p>

  <%= link_to 'Back', posts_path %>

</div>
