<nav class="navigation">
  <div class="menu-container">
    <ul class="menu">
      <li><%= link_to t('ui.navigation.home'), root_path %></li>
      <li>
        <a href="#"><%= t('ui.navigation.tools') %></a>
        <ul class="submenu">
          <li><a href="https://wow.hegwin.me/pets" target="_blank"><%= t('ui.navigation.wow_battle_pet')%></a></li>
          <li><a href="https://www.etymon.online/" target="_blank"><%= t('ui.navigation.meow_etymons') %></a></li>
        </ul>
      </li>
      <li><%= link_to t('ui.navigation.about'), about_path %></li>
    </ul>
  </div>
</nav>
