<div class="sidebar">
  <%= link_to '/' do %>
    <%= image_tag 'sidebar/avatar.jpeg', class: 'avatar', alt: 'Hegwin Avatar' %>
    <p class="signature">Hegwin</p>
  <% end %>
  <div class="sns">
    <%= link_to 'https://github.com/hegwin', target: '_blank' do %>
      <%= image_tag 'sidebar/github.png', alt: 'Github' %>
    <% end %>

    <%= link_to 'https://www.linkedin.com/in/hegwin-wang-b649836a', target: '_blank' do %>
      <%= image_tag 'sidebar/linkedin.png', alt: 'Github' %>
    <% end %>

    <%= link_to 'https://weibo.com/hegwin/', target: '_blank' do %>
      <%= image_tag 'sidebar/weibo.png', alt: 'Github' %>
    <% end %>

    <%= mail_to 'hegwin@hegwin.me', target: '_blank' do %>
      <%= image_tag 'sidebar/email.png', alt: 'Github' %>
    <% end %>

    <%= link_to 'https://www.facebook.com/hegwin.wang', target: '_blank' do %>
      <%= image_tag 'sidebar/facebook.png', alt: 'Github' %>
    <% end %>
  </div>
</div>
