<!DOCTYPE html>
<html>
<head>
  <title>Hegwin.me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    
    <%= render 'layouts/header' %>
    
    <%= render 'layouts/navigation' %>
    
    <%= yield %>

    <%= render 'layouts/footer' %>
    
  </div>
</body>
</html>
